<launch>
  <node name="odometer" pkg="first_project" type="odometer"/>
  <node name="gps_odometer" pkg="first_project" type="gps_odometer"/>
  <node name="sector_times" pkg="first_project" type="sector_times"/>

  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find first_project)/rviz/odom_config_with_path.rviz" /> -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find first_project)/rviz/odom_config.rviz" />

</launch>